// --- --- ---
// Variables
// --- --- ---

// Color Palette
$white: #fff;
$gray: #f9f9f9;
$black: #4a4a4a;
// Palette Town
$color: #35BDB2;
@include palette-town($color, all);

// Typography
// utilities/typography
$body-font-size: 16px;
$lato: 'Lato', sans-serif;

// Grid
// utilities/grid
$grid-max-width: 1170px;

// General
$margin: 15px;
$border: 1px;
$radius: 3px;

// Bourbon
$asset-pipeline: false;
$em-base: $body-font-size;
$prefix-for-webkit:    true;
$prefix-for-mozilla:   true;
$prefix-for-microsoft: true;
$prefix-for-opera:     true;
$prefix-for-spec:      true;
